html,
body {
    height: 100%;
}

h1, h2, h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.wrap.pc .container {
    width: 1250px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.bx-wrapper {
    margin-bottom: 5px !important;
    max-width:  100% !important;
}

.bx-viewport div.slider_item {
    position: relative;
}

.bx-viewport div.slider_item span {
    position: absolute;
    left: 5px;
    right: 4px;
    bottom: 4px;
    background-color: #999;
    padding: 3px;
    cursor: pointer;
    z-index: 10;
    text-align: center;
    opacity: 0.85;
}

.bx-viewport div.slider_item span:hover {
    opacity: 1;
}

/*.bx-wrapper img.img-thumbnail {
    margin-right: 3px;
}*/

.img-thumbnail.active {
    background-color: #bbdd33;
}

.img-thumbnail:hover {
    background-color: #E1E8ED;
    cursor: pointer;
}

a.gallery-item img {
    margin-top: 3px;
}

.blueimp-gallery {
  margin-right: 300px;
}

.blueimp-gallery > .description {
  position: absolute;
  top: 40px;
  left: 15px;
  color: #fff;
  display: none;
}
.blueimp-gallery-controls > .description {
  display: block;
}

.blueimp-gallery > .messages-box {
    position: absolute;
    top: 0px;
    right: 0px;
    color: #bbdd33;
    width: 300px;
    height: 100%;
    display: none;
}

.blueimp-gallery-controls > .messages-box {
  display: block;
}

.modal-content {
    border-radius: 0px;
    background-color: #1E1E1E;
    /*color: #e1e1e1;*/
}

.modal.in .modal-dialog {
    margin-top: 200px;
    z-index: 10000;
}

.modal-header {
    /*display: none;*/
    padding: 10px 15px;
    position: absolute;
    border-bottom: 0px transparent none;
    right: 0px;
    z-index: 100;
}

.modal-header h3 {
    margin: 0px;
}